   /* "CSS" Criando um padrao de estilos para os comandos nativos do HTML*/

   body,
   html {
     height: 100%;
   }
   

   P{
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(8, 8, 8);
} 

h1{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: black;
}

form{
    width: 250px;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    padding: 15px;
    
}


fieldset{
    width: 550px;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    
}

legend{
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-align: center;

  
}

/* criando um padrao de estilos para ser aplicado na pagina*/
.contexto{
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
}

.menu{
    font-size: 14px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}



.campo_nome{
    font-family: Verdana, Geneva, Tahoma, sans-serif;       
    text-align: center;
}

.campo_email{
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 290px;
    color: darkred;
    background-color: antiquewhite;
}

.campo_senha{
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 250px;
    color: darkred;
    background-color: antiquewhite;
}

/*Criando estilos para a nossa pagina bootstrap*/

/*.container{
    background-color: white;
}*/

/*.div1{
    background-color: rgb(5, 5, 95);
    color: white;
    font-size: 15px;
    font-weight: bolder;
    text-align: right;
    width: 50px;
}


.div2{
    background-color: green;
}

.div3{
    background-color: blue;
}


.div4{
    background-color: red;
}

.cabecalho{
    background-color: gray;
} */

.jumbotron{
    background-color:white;
    margin-bottom: 0px;
    min-width: 200px;
    
}

.form-control{
    margin-bottom: 15px;

}

.titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    color: #FF9900;
}

.tituloRel{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color: #FF9900;
}

.tituloRel2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    color: #FF9900;
}

#background {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-image: url("/imagens/programa-itau-capa.png");
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode: lighten;
  }

  #botoes{
    margin: 15px 10px 15px 10px;

  }

  #cabecalho{
    background-color: #FF9900;
    min-height: 100px;
}

#dadosUser{
    font-size: medium;
    margin-left: 0px;
}

#imgUser{
    max-width: 120px;
    padding-right: 0px;
}

img{
    width:80px;
    height:80px;
}

#msgError{
    margin: 15px 10px 15px 10px;
    font-size: small;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
.campoData{
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 240px;
    color: #FF9900;
    margin-bottom: 15px;
}